<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" [routerLink]="['dashboard']">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="col-xs-12 col-md-5 col-sm-5 col-lg-5 padding-none">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DataTable
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['dataTable']">DataTable  1</a>
                        <a class="dropdown-item" [routerLink]="['dataTable1']">DataTable 2 </a>
                        <a class="dropdown-item" [routerLink]="['dataTable2']">DataTable 3</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Forms
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['formsDemo']">Forms 1 </a>
                        <a class="dropdown-item" [routerLink]="['formsDemo1']">Forms 2 </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Layouts
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['steppers']">Steppers </a>
                        <a class="dropdown-item" [routerLink]="['tab']">Tabs </a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Concept
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['decorator']">Decorator </a>
                    </div>
                </li>

            </ul>
        </div>

        <div class="col-xs-12 col-md-5 col-sm-5 col-lg-5 pull-right padding-none">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 padding-none">
                <div>Welcome {{userName}} | {{currentRoleName}} </div>
                <div>( {{currentDate | date:'dd-MMM-yyyy'}}) </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-1 col-sm-1 col-lg-1 pull-right padding-none">
            <!-- <input type="button" name="logout" class="btn-danger" style="outline:none;" (click)="logout();" value="Logout"> -->

            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 padding-none">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>dialpad</mat-icon>
                      <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>Check voicemail</span>
                    </button>
                    <button mat-menu-item class="btn-danger"  (click)="logout();">
                      <mat-icon>Logout</mat-icon>
                      <span>Logout</span>
                    </button>
                  </mat-menu>
            </div>

        </div>
    </div>
</nav>