<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" [routerLink]="['dashboard']">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 padding-none">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        DataTable
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['dataTable']"> Simple DataTable</a>
                        <a class="dropdown-item" [routerLink]="['dataTable1']">Data Table </a>
                        <a class="dropdown-item" [routerLink]="['dataTable2']">CheckBox Data Table</a>
                        <a class="dropdown-item" [routerLink]="['httpDataTable']">Http Data Table</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Forms
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['formsDemo']">Forms 1 </a>
                        <a class="dropdown-item" [routerLink]="['formsDemo1']">Forms 2 </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Layouts
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['steppers']">Steppers </a>
                        <a class="dropdown-item" [routerLink]="['tab']">Tabs </a>
                        <a class="dropdown-item" [routerLink]="['basicExpansionPanel']">Basic expansion panel </a>
                        <a class="dropdown-item" [routerLink]="['gridList']">Grid List </a>
                        <a class="dropdown-item" [routerLink]="['treeView']">Tree View </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Popups & Modals
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['bottomSheet']">Bottom Sheet     </a>
                        <a class="dropdown-item" [routerLink]="['dialogBox']">Dialog Box </a>
                        <a class="dropdown-item" [routerLink]="['snackbar']">Snackbar</a>
                        <a class="dropdown-item" [routerLink]="['toolTip']">Tooltip</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Charts
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['jqwidgetsCharts']">jqwidgets Charts </a>
                        <a class="dropdown-item" [routerLink]="['chartjs']">Charts JS</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Concept
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['decorator']">Decorator </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Demos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" [routerLink]="['HtmlToPdf']">HtmlToPdf </a>
                        <a class="dropdown-item" [routerLink]="['CanlendarTask']">CanlendarTask </a>
                    </div>
                </li>



                <li class="nav-item dropdown">
                    <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

                    <mat-menu #animals="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
                        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
                    </mat-menu>

                    <mat-menu #vertebrates="matMenu">
                        <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                        <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                        <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                        <button mat-menu-item>Birds</button>
                        <button mat-menu-item>Mammals</button>
                    </mat-menu>

                    <mat-menu #invertebrates="matMenu">
                        <button mat-menu-item>Insects</button>
                        <button mat-menu-item>Molluscs</button>
                        <button mat-menu-item>Crustaceans</button>
                        <button mat-menu-item>Corals</button>
                        <button mat-menu-item>Arachnids</button>
                        <button mat-menu-item>Velvet worms</button>
                        <button mat-menu-item>Horseshoe crabs</button>
                    </mat-menu>

                    <mat-menu #fish="matMenu">
                        <button mat-menu-item>Baikal oilfish</button>
                        <button mat-menu-item>Bala shark</button>
                        <button mat-menu-item>Ballan wrasse</button>
                        <button mat-menu-item>Bamboo shark</button>
                        <button mat-menu-item>Banded killifish</button>
                    </mat-menu>

                    <mat-menu #amphibians="matMenu">
                        <button mat-menu-item>Sonoran desert toad</button>
                        <button mat-menu-item>Western toad</button>
                        <button mat-menu-item>Arroyo toad</button>
                        <button mat-menu-item>Yosemite toad</button>
                    </mat-menu>

                    <mat-menu #reptiles="matMenu">
                        <button mat-menu-item>Banded Day Gecko</button>
                        <button mat-menu-item>Banded Gila Monster</button>
                        <button mat-menu-item>Black Tree Monitor</button>
                        <button mat-menu-item>Blue Spiny Lizard</button>
                        <button mat-menu-item disabled>Velociraptor</button>
                    </mat-menu>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Setting
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="logout();">Logout </a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 
        <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4 pull-right padding-none">
            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 padding-none">
                <div>Welcome {{userName}} | {{currentRoleName}} </div>
                <div>( {{currentDate | date:'dd-MMM-yyyy'}}) </div>
            </div>
        </div> -->
        <!-- <div class="col-xs-12 col-md-2 col-sm-2 col-lg-2 pull-right padding-none">
            <input type="button" name="logout" class="btn-danger" style="outline:none;" (click)="logout();" value="Logout">

            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 padding-none">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Setting
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" (click)="logout();">Logout </a>
                        </div>
                    </li>
                </ul>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>dialpad</mat-icon>
                      <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>Check voicemail</span>
                    </button>
                    <button mat-menu-item class="btn-danger" (click)="logout();">
                      <mat-icon>Logout</mat-icon>
                      <span>Logout</span>
                    </button>
                </mat-menu>
            </div>

        </div> -->
    </div>
</nav>