<div class="container-fluid">
    <div class="mainbox col-md-12 col-sm-12 col-xs-12 center">
        <div class="panel">
            <!--Page Title  -->
            <div class="login-panel">
                <div class="panel-title">
                    <span> Data Table</span>
                    <span class=" pull-right">
                        <span class="closePageIcon dashBoradCountOnHover" (click)="closePage();">
                            <i class=" fa fa-times" aria-hidden="true"></i>
                        </span>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <!--Table list content  -->
                <div class="form-group col-sm-12 col-md-12 col-xs-12 padding-none">
                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive  padding-none scrollbox">
                        <table class="table table-bordered none-margin-table scrollbox-content">
                            <tr>
                                <!--Sr No -->
                                <th class="headerCell text-center" style="width:10%">
                                    <span>SR No</span>
                                    <a class="sortIcon pull-right"><i class="fa fa-sort" aria-hidden="true"></i></a>
                                </th>

                                <!-- ID-->
                                <th class="headerCell text-center" style="width:10%">
                                    <span>ID</span>
                                    <a class="sortIcon pull-right" (click)="idSortFlag = ! tableSort(idSortFlag,'id');"><i class="fa fa-sort" aria-hidden="true"></i></a><br>
                                    <input type="text" class="form-control" #idFilter (keyup)="tableFilter(idFilter.value,nameFilter.value,emailFilter.value,mobileFilter.value);">
                                </th>

                                <!-- Name-->
                                <th class="headerCell text-center" style="width:10%">
                                    <span>Name</span>
                                    <a class="sortIcon pull-right" (click)="nameSortFlag = ! tableSort(nameSortFlag,'name');"><i class="fa fa-sort" aria-hidden="true"></i></a><br>
                                    <input type="text" class="form-control" #nameFilter (keyup)="tableFilter(idFilter.value,nameFilter.value,emailFilter.value,mobileFilter.value);">
                                </th>

                                <!--Email-->
                                <th class="headerCell text-center" style="width:10%">
                                    <span>Email</span>
                                    <a class="sortIcon pull-right" (click)="emailSortFlag = ! tableSort(emailSortFlag,'email');"><i class="fa fa-sort" aria-hidden="true"></i></a><br>
                                    <input type="text" class="form-control" #emailFilter (keyup)="tableFilter(idFilter.value,nameFilter.value,emailFilter.value,mobileFilter.value);">
                                </th>

                                <!-- Mobile-->
                                <th class="headerCell text-center" style="width:10%">
                                    <span>Mobile</span>
                                    <a class="sortIcon pull-right" (click)="mobileSortFlag = ! tableSort(mobileSortFlag,'mobile');"><i class="fa fa-sort" aria-hidden="true"></i></a><br>
                                    <input type="text" class="form-control" #mobileFilter (keyup)="tableFilter(idFilter.value,nameFilter.value,emailFilter.value,mobileFilter.value);">
                                </th>

                            </tr>
                            <tr *ngFor="let item of employeeData ; let i = index" style="background-color: #F3F7FC">
                                <td class="text-center tableCustomRow">{{i+1}}</td>
                                <td class="text-center tableCustomRow">{{item.id}}</td>
                                <td class="text-center tableCustomRow">{{item.name | upperCasePipe }}</td>
                                <td class="text-center tableCustomRow">{{item.email | dashline}}</td>
                                <td class="text-center tableCustomRow">{{item.mobile | dashline}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-bottom:25px;">
    <div class="col-md-12 col-sm-12 col-xs-12 center">

        <div class="example-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>

        <div class="example-container mat-elevation-z8">

            <mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="progress">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="color">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

    </div>
</div>