<div class="container-fluid">
    <div class="mainbox col-md-12 col-sm-12 col-xs-12 center">
        <div class="panel">
            <!--Page Title  -->
            <div class="login-panel">
                <div class="panel-title">
                    <span> Bottom sheet</span>
                    <span class=" pull-right">
                          <span class="closePageIcon dashBoradCountOnHover" (click)="closePage();">
                              <i class=" fa fa-times" aria-hidden="true"></i>
                          </span>
                    </span>
                </div>
            </div>
            <div class="panel-body">


                <p>You have receive a file called "cat-picture.jpeg".</p>

                <button mat-raised-button (click)="openBottomSheet()">Open file</button>

            </div>
        </div>
    </div>
</div>