<div class=" center">
    <div class="panel">
        <div class="login-panel box-header">
            <div class="panel-title">
                <span>{{ 'LBL_FORGOT_PASSWORD' | translate }}</span>
            </div>
        </div>
        <div class="panel-body">
            <form novalidate [formGroup]="forgotPassword" (ngSubmit)="forgotPasswordEvent()">
                <div class="row">
                    <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 input-group-box">
                        <mat-form-field class="input-full-width">
                            <input matInput type="text" formControlName="email" name="email" placeholder="Email">
                            <mat-error *ngIf="!forgotPassword.controls.email.valid">Email Required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 center">
                        <button mat-raised-button color="primary" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" [disabled]="!forgotPassword.valid">Submit</button>
                        <mat-progress-bar *ngIf="pageLoader" mode="indeterminate"></mat-progress-bar>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>