<div class="container-fluid">
    <div class="mainbox col-xs-12 col-sm-8 col-md-5 col-lg-4 center">
        <div class="panel">
            <!--Page Title  -->
            <div class="login-panel">
                <div class="panel-title">
                    <span>Welcome Back! Please Sign In</span>
                    <span class=" pull-right">
                        <span class="dashBoradCountOnHover"  [routerLink]="['/signup']">
                            Signup
                        </span>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form novalidate [formGroup]="fg" (ngSubmit)="doLogin()">
                        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <!-- User name-->
                            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput type="text" formControlName="userName" name="userName" placeholder="User Name" />
                                    <mat-error *ngIf="!fg.controls.userName.valid">Username Required.</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Password -->
                            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput type="password" formControlName="password" (keyup)="usernameChange();" name="Password" placeholder="Password" />
                                    <mat-error *ngIf="!fg.controls.password.valid">Password Required.</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 center">
                                <button mat-raised-button color="primary" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" [disabled]="!fg.valid" value="Login">Login</button>
                                <mat-progress-bar *ngIf="pageLoader" mode="indeterminate"></mat-progress-bar>
                                <a (click)="openDialog()">Forgot Password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>