<div class="container-fluid">
    <div class="mainbox col-md-12 col-sm-12 col-xs-12 center">
        <div class="panel">
            <!--Page Title  -->
            <div class="login-panel">
                <div class="panel-title">
                    <span> Forms Elements</span>
                    <span class=" pull-right">
                            <span class="closePageIcon dashBoradCountOnHover" (click)="closePage();">
                                <i class=" fa fa-times" aria-hidden="true"></i>
                            </span>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row custom-row">






                </div>
            </div>
        </div>
    </div>
</div>