<div class="container-fluid">
    <div class="mainbox col-md-12 col-sm-12 col-xs-12 center">
        <div class="panel">
            <!--Page Title  -->
            <div class="login-panel">
                <div class="panel-title">
                    <span> Forms Elements</span>
                    <span class=" pull-right">
                            <span class="closePageIcon dashBoradCountOnHover" (click)="closePage();">
                                <i class=" fa fa-times" aria-hidden="true"></i>
                            </span>
                    </span>
                </div>
            </div>
            <div class="panel-body">

                <button mat-button>Click me!</button>
                <br>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                                <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
                                <span>{{ state.name }}</span> |
                                <small>Population: {{state.population}}</small>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <br />

                    <mat-slide-toggle [checked]="stateCtrl.disabled" (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
                        Disable Input?
                    </mat-slide-toggle>
                </form>

                <br>



                <mat-card>
                    <mat-card-content>
                        <h2 class="example-h2">Checkbox configuration</h2>

                        <section class="example-section">
                            <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
                            <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
                        </section>

                        <section class="example-section">
                            <label class="example-margin">Align:</label>
                            <mat-radio-group [(ngModel)]="align">
                                <mat-radio-button class="example-margin" value="start">Start</mat-radio-button>
                                <mat-radio-button class="example-margin" value="end">End</mat-radio-button>
                            </mat-radio-group>
                        </section>

                        <section class="example-section">
                            <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
                        </section>
                    </mat-card-content>
                </mat-card>

                <mat-card class="result">
                    <mat-card-content>
                        <h2 class="example-h2">Result</h2>

                        <section class="example-section">
                            <mat-checkbox class="example-margin" [(ngModel)]="checked" [checked]="isChecked" [indeterminate]="indeterminate" (change)="isChecked = !isChecked" [disabled]="disabled">
                                I'm a checkbox


                            </mat-checkbox>
                        </section>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>