<jqxChart #myChart [width]="850" [height]="500" [title]="'Fitness & exercise weekly scorecard'" [description]="'Time spent in vigorous exercise by activity'" [showLegend]="true" [enableAnimations]="true" [padding]="padding1" [titlePadding]="titlePadding1"
    [source]="sampleData" [xAxis]="xAxis" [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme06'">
</jqxChart>

<jqxBarGauge [width]="600" [height]="600" [max]="150" [colorScheme]="'scheme02'" [values]="values">
</jqxBarGauge>

<app-line-jqwidgets-chart></app-line-jqwidgets-chart>