<div class="container-fluid">
    <div class="mainbox col-md-10 col-sm-10 col-xs-12 center">
        <div class="panel">
            <!--Page Title  -->
            <div class="login-panel box-header">
                <div class="panel-title">
                    <span>Sign Up</span>
                    <span class=" pull-right">
                    <span class="dashBoradCountOnHover"  [routerLink]="['/login']">
                        Login
                    </span>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form novalidate [formGroup]="signup" (ngSubmit)="sendSignUpDetails()">
                        <!-- <hr class="colorgraph"><br> -->
                        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <!-- First Name -->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput required type="text" formControlName="firstName" name="firstName" placeholder="First name">
                                    <mat-error *ngIf="!signup.controls.firstName.valid && signup.controls.firstName.value ">Invalid First name.</mat-error>
                                    <mat-error *ngIf="!signup.controls.firstName.value">Required First name.</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Middle Name -->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput required type="text" formControlName="middleName" name="middleName" placeholder="Middle name">
                                    <mat-error *ngIf="!signup.controls.middleName.valid && signup.controls.middleName.value">Invalid Middle name.</mat-error>
                                    <mat-error *ngIf="!signup.controls.middleName.value">Required Middle name.</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Last Name -->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput required type="text" formControlName="lastName" name="lastName" placeholder="Last name">
                                    <mat-error *ngIf="!signup.controls.lastName.valid && signup.controls.lastName.value">Invalid Last name.</mat-error>
                                    <mat-error *ngIf="!signup.controls.lastName.value">Required Last name.</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Email -->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput required type="text" formControlName="email" name="email" placeholder="Email">
                                    <mat-error *ngIf="!signup.controls.email.valid && signup.controls.email.value">Invalid Email ID</mat-error>
                                    <mat-error *ngIf="!signup.controls.email.value">Required Email ID.</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Contact no -->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="input-full-width" hintLabel="Contact No.should be 10 Digits">
                                    <input matInput required #contactNo maxlength="10" minlength="10" type="text" formControlName="contactNo" name="contactNo" placeholder="Contact No">
                                    <mat-hint align="end">{{contactNo.value?.length || 0}}/10</mat-hint>
                                    <mat-error *ngIf="!signup.controls.contactNo.valid && signup.controls.contactNo.value">Invalid Contact No.</mat-error>
                                    <mat-error *ngIf="!signup.controls.contactNo.value">Required Contact No.</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Gender-->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field>
                                    <mat-select required placeholder="Gender" formControlName="gender" name="gender">
                                        <mat-option *ngFor="let genderDto of gender" [value]="genderDto.code">
                                            {{genderDto.value }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="!signup.controls.gender.valid">Required Gender</mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Date of birth -->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="example-full-width">
                                    <input matInput required [min]="minDate" [max]="maxDate" [matDatepicker]="dob" placeholder="Date Of Birth" formControlName="dob" name="dob" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                                    <mat-datepicker #dob disabled="false"></mat-datepicker>
                                    <mat-error *ngIf="!signup.controls.dob.valid">Required Date of Birth</mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Password -->
                            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput required formControlName="password" name="password" placeholder="Password" [type]="! passwordHide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    <mat-error *ngIf="!signup.controls.password.valid">{{signup.controls.password.errors.len}}</mat-error>
                                    <mat-error *ngIf="!signup.controls.password.valid">{{signup.controls.password.errors.ers}}</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Confirm password -->
                            <div class=" col col-xs-12 col-sm-6 col-md-4 col-lg-4 input-group-box">
                                <mat-form-field class="input-full-width">
                                    <input matInput required formControlName="confirmPassword" name="pass" placeholder="Confirm Password" [type]="!confirmPasswordHide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="confirmPasswordHide = !confirmPasswordHide">{{ confirmPasswordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                    <mat-error *ngIf="!signup.controls.confirmPassword.valid">{{signup.controls.confirmPassword.errors.len}}</mat-error>
                                    <mat-error *ngIf="!signup.controls.confirmPassword.valid">{{signup.controls.confirmPassword.errors.ers}}</mat-error>
                                    <mat-error *ngIf="signup.controls.confirmPassword.errors?.MatchPassword">{{signup.controls.confirmPassword.errors?.errorMsg}}</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button mat-raised-button color="primary" class="btn btn-primary" name="Submit" value="signUp" type="Submit" [disabled]="!signup.valid" value="SignUp">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>