<div class="container">
    <div class="wrapper">
        <form novalidate [formGroup]="signup" (ngSubmit)="sendSignUpDetails()" class="form-signin">
            <h3 class="form-signin-heading">Sign Up</h3>
            <hr class="colorgraph"><br>
            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- First Name -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="firstName" name="firstName" placeholder="First name">
                    </mat-form-field>
                    <div *ngIf="signup.controls.firstName.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.firstName.valid">Invalid first name.</p>
                    </div>
                </div>
                <!-- Middle Name -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="middleName" name="middleName" placeholder="Middle name">
                    </mat-form-field>

                    <div *ngIf="signup.controls.middleName.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.middleName.valid">Invalid middle name </p>
                    </div>
                </div>
                <!-- Last Name -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="lastName" name="lastName" placeholder="Last name">
                    </mat-form-field>
                    <div *ngIf="signup.controls.lastName.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.lastName.valid">Invalid last name</p>
                    </div>
                </div>
                <!-- Email -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="email" name="email" placeholder="Email">
                    </mat-form-field>
                    <div *ngIf="signup.controls.email.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.email.valid">Invalid email id</p>
                    </div>
                </div>
                <!-- Contact no -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="contactNo" name="contactNo" placeholder="Contact No">

                    </mat-form-field>
                    <div *ngIf="signup.controls.contactNo.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.contactNo.valid">Invalid contact no</p>
                    </div>
                </div>
                <!-- Date of birth -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="contactNo" name="contactNo" placeholder="Date Of Birth">

                    </mat-form-field>
                    <div *ngIf="signup.controls.contactNo.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.contactNo.valid">Invalid contact no</p>
                    </div>
                </div>

                <!-- Password -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="password" formControlName="password" name="password" placeholder="Password">
                    </mat-form-field>

                    <div *ngIf="signup.controls.password.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.password.valid">{{signup.controls.password.errors.len}}</p>
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.password.valid">{{signup.controls.password.errors.ers}}</p>
                    </div>
                </div>
                <!-- Confirm password -->
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="password" formControlName="confirmPassword" name="pass" placeholder="Confirm Password">
                    </mat-form-field>
                    <div *ngIf="signup.controls.confirmPassword.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.confirmPassword.valid">{{signup.controls.confirmPassword.errors.len}}</p>
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.confirmPassword.valid">{{signup.controls.confirmPassword.errors.ers}}</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button mat-raised-button color="warn" class="btn btn-primary" name="Submit" value="signUp" type="Submit" [disabled]="!signup.valid" value="SignUp">Sign Up</button>
                <div>
                    <a [routerLink]="['/login']">Login</a> - <a [routerLink]="['/fotgotpassword']">Fotgot Password</a>
                </div>
            </div>

        </form>
    </div>
</div>