<div class="col-xs-12 col-sm-12 col-md-12 unauthorizedBox">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <!-- Unauthorized access title -->

            <h1 class="text-center text-danger">Unauthorized!.</h1>
        </div>
        <!-- Unauthorized access msg -->
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4 class="text-center">You Have Attempted To Access A System Resource For Which You Are Not Authorized.</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h4 class="text-center">Go to login <a [routerLink]="['/login']">Login</a> </h4>
        </div>
    </div>
</div>