<div class="container">
    <div class="wrapper">
        <form novalidate [formGroup]="fg" (ngSubmit)="forgotPassword()" class="form-signin">
            <h3 class="form-signin-heading">Forgot Password</h3>
            <hr class="colorgraph"><br>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <mat-form-field class="input-full-width">
                        <input matInput type="text" formControlName="email" name="email" placeholder="Email">
                    </mat-form-field>
                    <div *ngIf="signup.controls.email.dirty">
                        <p class="help-block alert alert-danger" *ngIf="!signup.controls.email.valid">Invalid email id</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="forgotPassword" type="Submit" [disabled]="!fg.valid" value="Login">Submit</button>
                <div>
                    <a [routerLink]="['/login']">Login</a> - <a [routerLink]="['/signup']">signup</a>
                </div>
            </div>
        </form>
    </div>
</div>